.main-content {
    display: flex;
    justify-content: center;
}

/* Estiliza o formulário */
form {
    background-color: var(--cor-primaria);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os elementos */
    width: 500px;
}

/* Estiliza os rótulos */
.label-cadastro {
    font-weight: bold;
}

/* Estiliza os campos de entrada */
.input-cadastro {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--cor-texto);
    border-radius: 5px;
}

/* Estiliza o botão */
.button-cadastrar {
    background-color: var(--cor-titulo-2-contraste);
    color: var(--cor-texto);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button-cadastrar:hover {
    background-color: var(--cor-titulo-2-contraste-60);
}