dialog {
    border: none;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.459);
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.container {
    background: rgba(41, 40, 48, 0.651);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-height: fit-content;
    max-width: fit-content;
}